* {
    margin: auto;
    text-align: center;
    background-color: aqua;
}

h1 {
    padding-bottom: 50px;
}

@keyframes rainbow {
    0% { background: red; }
    14% { background: orange; }
    28% { background: yellow; }
    42% { background: green; }
    57% { background: cyan; }
    71% { background:  lightpink; }
    85% { background: violet; }
    100% { background: red; }
}

.rainbow {
    animation: rainbow 10s infinite linear;
    color: black;
}

img {
    height: 800px;
    width: 800px;
    padding-top: 20px;
}
.easy {
    background-color: lightgreen;
    color: green; border: 2px solid;
}

.medium {
    background-color: lightsalmon;
    color: black; border: 2px solid;
}


.hard {
    background-color: red;
    color: darkred; border: 2px solid;
}

.cluebox {
    background-color: #f0f0f0;
    padding-top: 20px;   /* Top padding */
    padding-right: 10px; /* Right padding */
    padding-bottom: 10px; /* Bottom padding */
    padding-left: 10px;  /* Left padding */
    border: 1px solid #ccc;
}

 .text {
    background-color: #ccc;
    margin-top: 20px;   /* Top padding */
    margin-bottom: 10px; /* Bottom padding */
    border: 1px solid red;
    width: 300px;
    border-radius: 10px; 
 }

 .infobox  {
padding-left: 150px;
padding-right: 150px;

 } 

 .howto {
    background-color: #ccc;
    margin-top: 20px;   /* Top padding */
    margin-bottom: 10px; /* Bottom padding */
    border: 1px solid red;
    width: 300px;
    border-radius: 10px; 
 }

 .howtoalt {
    background-color: #ccc;
    margin-top: 20px;   /* Top padding */
    margin-bottom: 10px; /* Bottom padding */
    width: 300px;
    border: 1px solid red;
    width: 300px;
    border-radius: 10px; 
    padding: 5px;
 }